In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('logistic_reg_Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df['Species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

#### Keeping only two categories in the target column

In [4]:
new_df = df[df['Species'] != 'Iris-virginica']
new_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [5]:
new_df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [6]:
new_df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 6 columns):
Id               100 non-null int64
SepalLengthCm    100 non-null float64
SepalWidthCm     100 non-null float64
PetalLengthCm    100 non-null float64
PetalWidthCm     100 non-null float64
Species          100 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 5.5+ KB

In [9]:
new_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  100.000000     100.000000    100.000000     100.000000    100.000000
mean    50.500000       5.471000      3.094000       2.862000      0.785000
std     29.011492       0.641698      0.476057       1.448565      0.566288
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     25.750000       5.000000      2.800000       1.500000      0.200000
50%     50.500000       5.400000      3.050000       2.450000      0.800000
75%     75.250000       5.900000      3.400000       4.325000      1.300000
max    100.000000       7.000000      4.400000       5.100000      1.800000

In [12]:
new_df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### Need to drop the target column

In [13]:
X = new_df.drop(["Species"], axis = 1)
Y = new_df["Species"]

In [11]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)

In [24]:
y_train.value_counts()

Iris-versicolor    40
Iris-setosa        40
Name: Species, dtype: int64

#### Dropping 'Id' column fomr the test as it doesn't has any pattern

In [25]:
x_train = x_train.drop(["Id"], axis=1)
x_train

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
64            5.6           2.9            3.6           1.3
23            5.1           3.3            1.7           0.5
32            5.2           4.1            1.5           0.1
84            5.4           3.0            4.5           1.5
61            5.9           3.0            4.2           1.5
..            ...           ...            ...           ...
16            5.4           3.9            1.3           0.4
74            6.4           2.9            4.3           1.3
47            4.6           3.2            1.4           0.2
56            6.3           3.3            4.7           1.6
15            5.7           4.4            1.5           0.4

[80 rows x 4 columns]

In [26]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [27]:
model.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
x_test = x_test.drop(["Id"], axis = 1)
x_test

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
87            6.3           2.3            4.4           1.3
60            5.0           2.0            3.5           1.0
59            5.2           2.7            3.9           1.4
78            6.0           2.9            4.5           1.5
24            4.8           3.4            1.9           0.2
22            4.6           3.6            1.0           0.2
33            5.5           4.2            1.4           0.2
6             4.6           3.4            1.4           0.3
83            6.0           2.7            5.1           1.6
1             4.9           3.0            1.4           0.2
4             5.0           3.6            1.4           0.2
40            5.0           3.5            1.3           0.3
52            6.9           3.1            4.9           1.5
95            5.7           3.0            4.2           1.2
50            7.0           3.2            4.7           1.4
88            5.6           3.0            4.1           1.3
35            5.0           3.2            1.2           0.2
76            6.8           2.8            4.8           1.4
44            5.1           3.8            1.9           0.4
21            5.1           3.7            1.5           0.4

In [32]:
y_pred = model.predict(x_test)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
print(accuracy_score(y_test,y_pred))

1.0

#### More metrics coming soon...